banner-bienvenida {
    padding-bottom: 1500px;
}

/*Tarjetas de producto*/
.tarjeta-producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}
.nombre-producto {
    font-weight: bold;
}
.precio-producto {
    color: green;
}
.imagen-producto {
    max-width: 100%;
    height: auto;
}
.boton-agregar{
    background-color: burlywood;
}